@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-size: cover;
    background-attachment: fixed;

}

header, #info, #menu, #about, footer {
    padding: 1em;
}

a:visited, a:link {
    text-decoration: none;
    color: #0000AA;
}
a:hover, a:focus {
    color: #0000EE;
}


h1, h2, h3 {
    font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    font-size: 300%;
    margin: 0;
}

h2, h3 {
    color: #505050;
}

h2 {
    font-size: 150%;
    margin-bottom: 0;

}

h3 {
    font-size: 125%;
}

#tagline {
    display: none;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

nav a:visited, nav a:link {
    color: #55E;
}

nav li > a:hover, nav li > a:focus {
    color: #00E;
}

.container-fluid {
    margin-bottom: 0;
    margin-top: 0;
}

main {
    background-image: url('../img/ricepaper_v3.png');
    opacity: 0.9;
}

header {
    color: #FFFFFF;
    background-color: #FA5A0F;
    border-bottom: 5px #EA4A00;

}

header > p {
    font-size: 120%;
    color: #EEEEEE;
    margin: 0;
}

#menu {
    background-color: rgba(207, 205, 140, 0.5);
}

#menu dt {
    font-weight: 400;
}

#menu dd {
    font-size: 80%;
    font-style: italic;
    margin-left: 1em;
    margin-bottom: 1em;
}

footer {
    background-color: #FC892F;
    border-top: 5px #EC791F;
    font-size: 80%;
    text-align: right;
}

@media (min-width: 992px) {
    body {
        background-image: url('../img/background.jpg');
        font-size: 18px;
    }

    .container-fluid {
        margin-left: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    main {
        margin-left: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    header {
        position: relative;
    }

    nav {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #tagline {
        display: block;
    }
}
